
* {
    border: 1px solid red;
  }
  
*{
    font-family: 

    
  }

.top-nav {
    display: inline;
}

.nav-links {
    color: black;
}
  
.flex-container{
    display: flex;
    justify-content: center;

}

bottom-nav { 
    display: inline;


}
.featured { 
    display: flex;

}