
*{
    font-family: roboto;

    
  }

.top-nav {
    display: inline;
}

.nav-links {
    

}
  
.container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;

}

bottom-nav { 
    display: inline;


}
.featured { 
    display: flex;

}